body {
    background: url('images/footpath.jpg');
    margin: 0;
}
h1 {
    margin: 8px;
    text-align: center;
    font-family: fantasy;
    color: ghostwhite;
    text-shadow: black 3px 5px;
    font-size: 3rem;
}
img {
    width: 75px;
}
